@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .modal-custom {
    max-width: 550px;
  }
  .bloomli-header .close-modal {
    padding: 25px 0 45px 0;
  }
  .bloomli-header h2 {
    font-size: 30px;
    padding-bottom: 80px;
  }
  .steps-listing span {
    width: 70%;
  }
  .bloomli-body .nav-pills {
    max-width: 375px;
    padding: 5px 7px;
    top: -30px;
    margin-bottom: 0 !important;
  }
  .bloomli-body .nav-pills .nav-item .nav-link {
    font-size: 20px;
    padding: 10px 35px 10px 35px;
  }
  .bloomli-header .close-modal span {
    right: 42px;
    width: 18px;
    height: 18px;
    top: 26px;
  }
  .bloomli-login-section h3 {
    font-size: 20px;
    margin: 10px 0 35px 0;
  }
  .form-list .form-control,
  .form-list .form-select {
    height: 55px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .form-list .btn-submit {
    height: 55px;
  }
  .form-list span {
    right: 22px;
    top: 14px;
  }
  .form-list span img {
    width: 25px;
    height: auto;
  }
  .form-list p {
    font-size: 18px;
    margin: 20px 0 20px 0;
  }
  .form-list .btn-google {
    height: 55px;
    font-size: 18px;
  }
  .bloomli-body {
    padding: 0 0 75px 0;
  }
  .steps-listing {
    margin: 25px 0 10px 0;
  }
  .bloomli-create-account .accordion-button {
    font-size: 20px;
  }
  .gift-box {
    padding: 30px 25px 30px 25px;
    margin-bottom: 35px;
  }
  .gift-box h4 {
    font-size: 18px;
  }
  .gift-box p {
    font-size: 18px;
    line-height: 25px;
    margin: auto auto 15px auto;
  }
  ul.gift-listing li .gift-icon {
    width: 75px;
    height: 75px;
  }
  ul.gift-listing li .gift-icon img {
    width: 28px;
  }
  ul.gift-listing li span {
    font-size: 13px;
  }
  .form-list .form-check-label {
    font-size: 17px;
  }
  .write-info .form-list p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .plan-item {
    margin-bottom: 20px;
    padding: 40px 0 40px 0;
  }
  .plan-item h3 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .plan-item button.btn-plan {
    min-width: 275px;
    height: 70px;
    font-size: 20px;
  }
  .plan-item button.btn-plan span {
    font-size: 30px !important;
  }
  .plan-item span {
    font-size: 20px;
  }
  .plan-item p {
    font-size: 22px;
    margin-bottom: 20px;
    padding: 0 30px;
  }
  .payment-detail .form-list .btn-google {
    height: 65px;
  }
  .caret-cover::before {
    right: 14px;
    top: 23px;
    background-size: 20px;
  }
  .total-summary h3 {
    font-size: 45px;
    font-weight: 600;
  }
  .terms p {
    font-size: 18px;
    margin: 30px 0 20px 0;
    text-align: center;
  }
  .payment-detail .form-list span {
    top: 14px;
  }
  .bloomli-modal {
    border-radius: 30px;
  }
}
@media (max-width: 575.98px) {
  .p-77 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .bloomli-header .close-modal {
    padding: 40px 0 10px 0;
  }
  .bloomli-header h2 {
    font-size: 18px;
    padding-bottom: 60px;
  }
  .bloomli-header .close-modal span {
    right: 32px;
    width: 15px;
    height: 15px;
    top: 22px;
  }
  .bloomli-body .nav-pills {
    max-width: 270px;
  }
  .bloomli-body {
    border-radius: 30px;
  }
  .bloomli-body .nav-pills .nav-item .nav-link {
    font-size: 14px;
    padding: 10px 25px 10px 25px;
  }
  .bloomli-login-section h3 {
    font-size: 15px;
    margin: 0px 0 20px 0;
  }
  .form-list .form-control,
  .form-list .form-select {
    height: 45px;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .form-list span {
    right: 22px;
    top: 10px;
  }
  .form-list .btn-submit {
    height: 45px;
  }
  .form-list p {
    margin: 15px 0 15px 0;
  }
  .form-list .another-way p {
    font-size: 18px;
  }
  .form-list .btn-google {
    height: 45px;
    font-size: 15px;
  }
  .form-list .btn-google img {
    margin-right: 10px;
    width: 20px;
  }
  .bloomli-body {
    padding: 0 0 55px 0;
  }
  .steps-listing {
    margin: 15px 0 10px 0;
  }
  .bloomli-create-account .accordion-button {
    font-size: 15px;
  }
  .bloomli-create-account .accordion-button span {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .bloomli-create-account .accordion-button span img {
    width: 18px;
  }
  .gift-box {
    padding: 20px 15px 20px 15px;
    margin-bottom: 35px;
    border-radius: 20px;
  }
  .gift-box h4 {
    font-size: 16px;
    max-width: 225px;
    margin: auto auto 5px auto;
  }
  .gift-box p {
    font-size: 14px;
    line-height: 21px;
    margin: auto auto 15px auto;
  }
  ul.gift-listing {
    flex-direction: column;
  }
  ul.gift-listing li .gift-icon {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .form-list input[type="password"] {
    padding-right: 50px;
  }
  .form-list span img {
    width: 20px;
  }
  .form-list .form-check-label {
    font-size: 14px;
  }
  .write-info .form-list p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .plan-item h3 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .plan-item button.btn-plan {
    min-width: 195px;
    height: 50px;
    font-size: 15px;
  }
  .plan-item button.btn-plan:last-child {
    margin-bottom: 15px;
  }
  .plan-item button.btn-plan span {
    font-size: 24px !important;
  }
  .plan-item button:first-child.btn-plan {
    margin-bottom: 12px;
  }
  .plan-item {
    margin-bottom: 15px;
    padding: 30px 0 30px 0;
    border-radius: 20px;
  }
  .plan-item span {
    font-size: 17px;
  }
  .plan-item span img {
    margin-right: 5px;
  }
  .plan-radio .form-check-input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 1px solid #342b38;
  }
  .plan-radio .form-check-input[type="radio"]:checked {
    width: 20px;
    height: 20px;
  }
  .payment-detail {
    margin: 10px 0 0 0;
  }
  .two-column {
    flex-direction: column;
  }
  .two-column .form-list {
    flex: 0 0 100%;
    width: 100%;
  }
  .caret-cover::before {
    right: 9px;
    top: 19px;
    background-size: 17px;
  }
  .form-list .btn-submit {
    font-size: 17px;
  }
  .payment-detail .form-list .btn-google {
    height: 47px;
  }
  .steps-listing p {
    font-size: 16px;
  }
  .payment-summary {
    margin: 15px 0 0 0;
  }
  .total-summary h3 {
    font-size: 33px;
  }
  .payment-card img {
    margin-right: 20px;
    width: 35px;
  }
  .payment-card p {
    font-size: 17px;
  }
  .terms p {
    font-size: 14px;
    margin: 17px 0 20px 0;
  }
  .terms a {
    font-size: 17px;
  }
  .form-check.form-list input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
  .payment-detail .form-list .payment-input {
    padding-left: 40px;
  }
  .payment-detail .form-list span {
    top: 10px;
    left: 12px;
  }
  .payment-detail .another-way {
    margin-top: 20px;
  }
  .amount-title a {
    font-size: 16px;
  }
  .amount-title span {
    font-size: 16px;
  }
}
